.btn-grad {
    background-image: linear-gradient(
      to right,
      #1fa2ff 0%,
      #12d8fa 51%,
      #1fa2ff 100%
    );
  }
  .btn-grad {
    padding: 5px 20px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    border: 1px solid #e8f0fe;
  }
  
  .btn-grad:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
  